ui-container centered padded
    ui-linear-layout padded vertical gutter="16px"
        @element
            ui-textbox placeholder="Username" id="username" value=""
        @element
            ui-textbox placeholder="Password" id="password" value=""